body{
	font-family: 'Rajdhani', sans-serif;
}
@font-face {
		font-family: 'mehr';
		src: url('../fonts/mehr.ttf')  format('opentype');
	}
	@font-face {
		font-family: 'nafees';
		src: url('../fonts/nafees.ttf')  format('truetype');
	}

.nafees{
		font-family: 'nafees';
	}
	.mehr{
		font-family: 'mehr';
	}
.keyboard-container{
	padding-top: 10px;
}
#toPng{
	text-align: right;
	padding: 10px;
}
.topngtoogle{
	font-size:200px !important;
	line-height: 400px !important;
	text-align: right;
	min-width: 5000px;
	height: auto;
	overflow: scroll;

}
#toRender{
	font-family: 'mehr';
	margin-bottom:0.4rem;
}
.writing-area{
	line-height: 50px;
	font-size: 25px;
	color: #c03 !important;
	background-color: transparent;
}
.keyboard{
	background-image: url(../../images/bg.png);
	border-radius: 15px;
	background-color: #ccc;
	padding: 15px
}
.keyboard .list-inline{
	margin-bottom: 0
}
.keyboard .button{
	border: 1px solid #ccc;
	text-align: left;
	padding:5px 10px 5px 10px;
	font-size: 13px;
	margin-bottom: 5px;
	width: 60px;
	transition: 0.3s all;
	background-color: #302f37;
	margin-right:0.1rem
}
.keyboard .bigbutton{
	width: 130px;
}
.keyboard .button .urdu{
	display: block;
	width:100%;
	text-align: right;
	font-size: 20px;
}
.keyboard .button:hover{
	transform: scale(1.3)
}
.keyboard .button, .keyboard .button:hover{
	text-decoration: none;
	color:#fff;
}

@media(max-width: 600px){
	.keyboard-column{
		padding-right: 5px !important;
		padding-left: 5px !important;
	}
	.keyboard-column .keyboard{
		padding-left: 0 !important;
		padding-right:0 !important;
	}
	.keyboard .button{
		width: 30px;
		padding: 5px;
		text-align: center;
		line-height: 20px;
	}
	.keyboard .button .urdu{
		display: block;
		width:100%;
		text-align: center;
		padding: 3px 0;
		font-size: 16px;
		line-height: 16px;
	}
	.keyboard .button .alphabet{
		display: none;
	}
	.keyboard .clearfix{
		display: none;
	}
}